@import 'assets/variables';

.v-application.app {
  background: var(--v-background-base);
}

.info-bar a {
  color: whitesmoke;
}

a.simon {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
