@import 'assets/variables';

.v-application.app {
  background: var(--v-background-base);
}

.v-alert.info-bar a {
  color: var(--v-background-base);
}

.info-bar icon {
  color: var(--v-background-base);
}

a.simon {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}

.theme--dark {
  &.v-card {
    background-color: var(--v-background-darken1);
  }
  &.v-timeline .v-timeline-item__dot {
    background-color: var(--v-background-darken1);
  }
  &.v-timeline-item__body > .v-card:not(.v-card--flat)::before,
  .v-timeline-item__body > .v-card:not(.v-card--flat)::after {
    border-right-color: var(--v-background-darken1);
  }
}
