// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
$light-bg: #eff3ef;
$material-light: (
  'background': $light-bg,
  'app-bar': $light-bg
);

$dark-bg: #3b3b49;
$darker-bg: #282831;
$material-dark: (
  'background': $dark-bg,
  'app-bar': $dark-bg,
  'navigation-drawer': $darker-bg,
  'cards': $darker-bg
);
